*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; 
}

.world {
  overflow: hidden;
  position: relative;
  background-color: #fff; 
}

.start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.start-screen p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 35%; 
  bottom: calc(var(--bottom) * 1%);
  max-height: 120px; 
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%; 
  bottom: 0;
  max-height: 100px; 
}


.score-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); 
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  gap: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

.score-label {
  font-size: 1rem; 
  font-weight: bold;
}

.score-value {
  font-size: 1.2rem; 
  font-weight: bold;
  color: #f0db4f; 
}

@media (max-width: 600px) {
  .start-screen {
    font-size: 6vmin; 
    padding: 10px; 
  }

  .score-container {
    padding: 5px; 
    gap: 5px; 
  }

  .score-label, .score-value {
    font-size: 1rem; 
  }

  .dino {
    height: 25%; 
    max-height: 80px;
  }

  .cactus {
    height: 25%; 
    max-height: 80px;
  }
}

@media (min-width: 1200px) {
  .world {
    max-width: 1200px;
  }
}
